# MAWD Challenge 환경 변수
# 배포 후 실제 URL로 교체하세요

# 구글 스프레드시트 웹앱 URL (웹사이트 폼 → 스프레드시트 직접 기록)
# Apps Script Web App 배포 ID에서 생성
NEXT_PUBLIC_GOOGLE_SHEET_WEBAPP_URL=https://script.google.com/macros/s/AKfycbykqaNpcuySJQN3YifhE6Iy1iqAOZrC2VurhsoUSvm3p1RioicSvJYX8ZXBs1r811GCuA/exec

# 구글 폼 URL (대체 신청 링크)
NEXT_PUBLIC_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSd_6_tYFLZbwDP-KytHumlfoul1ane7t54zHAe_AAhCNUU9PA/viewform?usp=header
